<br><br><br><br>
<div class="center hero-unit">
  <h1>Welcome to the Chess App</h1>

  <h2>
    This is the home page for the bughouse chess game application.
  </h2>
  <% if !signed_in? %>
  	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <% else %>
  	<%= link_to "Go to Profile", current_user, class: "btn btn-large btn-primary" %>
  <% end %>
</div>


