<!DOCTYPE html>
<html>
  <head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<h1>Resetting your password</h1>
	<p>To reset your password at <a href='https://my-bughouse-chess.herokuapp.com'>my-bughouse-chess.herokuapp.com</a> proceed to the link below</p>
	<p><%= edit_password_reset_url(@user.password_reset_token) %></p>
	<p>If you didn't request your password to be reset, please ignore this e-mail</p>
	Regards,<br> Support Team
  </body>
</html>
