<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger">
        <li>* <%= msg %></li>
      </div>
    <% end %>
    </ul>
  </div>
<% end %>